* {
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  height: 40px;
  padding-bottom: 25px;
  border-bottom: #3333335d solid 1px;
}
.logo .logo-container {
  display: flex;
  gap: 11px;
  padding-bottom: 25px;
  align-items: center;
  justify-content: center;
  height: 50px;
}
#logoimg {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #3333335d;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}
.textlogo h1 {
  font-size: 26px;
  margin: 0;
  color: #333;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  cursor: pointer;
}
nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
nav a:hover {
  transition-delay: 0.1s ease;
  color: #3498db;
  text-decoration: none;
}
.burger {
  font-size: 26px;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  nav a {
    display: none;
  }
  .burger {
    display: block;
  }
}
/* reusable css for all sections */
.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
  border-bottom: #3333335d solid 1px;
  background-color: #e9e9e9;
}

.content {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 50px; 
  margin-right: 50px;
  padding-bottom: 35px;
}
.text {
  flex: 1;
  
}
img {
  width: 100%;
  flex: 1;
  max-width: 550px;
  height: auto;
  border-radius: 8px;
  margin-top: 35px;
  justify-content: center;
  align-items: center;
}

.about .content {
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 50px; 
  margin-right: 50px;
  padding-bottom: 35px;
}
/* another media */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
  }
  .about .content{
    flex-direction: column;
    text-align: center;
  }
  img {
    max-width: 100%;
    height: auto;
    justify-content: center;
  }
  .service-content ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
/* service */
.service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-left: 50px; 
  margin-right: 50px;
  padding-bottom: 35px;
}

.services ul {
  list-style-type: none;
  padding: 20px;
  display: flex;
}

.services li {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px 20px;
  color: #777;
}